<div class="d-flex justify-content-center">
    <div class="card bg-light shadow mt-2 mb-3">
        <div class="card-header bg-primary text-white h5 ">Progreso Académico</div>
        <div class="card-body">
            <!--Button class="btn btn-primary mb-2" (click)="nuevoEstado()"><i class="fa fa-plus" aria-hidden="true"></i> Añadir nueva asignatura</Button-->
            <table class="table table-striped hover">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="text-center" scope="col">Código</th>
                        <th class="text-center" scope="col">Nombre</th>
                        <th class="text-center" scope="col">Correo del docente</th>
                        <th class="text-center" scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let asignatura of asignaturas; index as i">
                        <td class="text-center">{{asignatura.codigo}}</td>
                        <td class="text-center">{{asignatura.nombre}}</td>
                        <td class="text-center">{{asignatura.correoDoc}}</td>
                        <td class="text-center">{{estados[i].estado}} </td>
                </tbody>
            </table>
        </div>
    </div>
</div>