<div class="d-flex justify-content-center">
    <div class="card bg-light shadow mt-4 w-50">
        <div class="card-header bg-primary text-white h5">
            Nuevo feriado
        </div>
        <div class="card-body">
            <form [formGroup]="profileForm" (ngSubmit)="addFeriado()" class="mt-1">
                <div class="form-group w-50">
                    <label>Fecha</label>
                    <input formControlName="fecha" type="date" class="form-control shadow-sm">
                </div>
                <div class="form-group">
                    <label>Motivo</label>
                    <textarea formControlName="motivo" class="form-control rounded" style="resize: none;"
                        rows="2"></textarea>
                </div>

                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-danger shadow-sm" routerLink="/feriados">
                        Cancelar</button>
                    <button class=" btn btn-success shadow-sm" type="submit" [disabled]="!profileForm.valid">
                        Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>