<div class="d-flex justify-content-center">
    <div *ngIf="!editandoPerfil&&!cambiandoContrasenia" class="card bg-light shadow m-2">
        <div class="card-header bg-primary d-flex justify-content-between">
            <h5 class="text-white mt-1">Perfil</h5>
            <div class="col">
                <button *ngIf="!activoTelegram" class="btn btn-light btn-sm shadow" (click)="verificarTelegram()"><i
                        class="fa fa-telegram" aria-hidden="true"></i> Activar
                    Telegram</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col">
                    <button class="btn btn-info btn-sm shadow" (click)="habilitarEditarPerfil()"><i class="fa fa-pencil"
                            aria-hidden="true"></i> Editar Perfil</button>
                </div>
                <div class="col">
                    <button class="btn btn-warning btn-sm shadow" (click)="habilitarCambiarContrasenia()"><i
                            class="fa fa-unlock-alt" aria-hidden="true"></i> Cambiar Contraseña</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger btn-sm shadow" (click)="eliminarUsuario()"><i class="fa fa-trash"
                            aria-hidden="true"></i> Eliminar Cuenta</button>
                </div>
            </div>
            <fieldset disabled>
                <div class="form-group">
                    <label>Cédula</label>
                    <input type="text" class="form-control disabled" value="{{cedula}}">
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control disabled" value="{{nombre}}">
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control disabled" value="{{apellido}}">
                </div>
            </fieldset>
            <hr>
            <div class="text-primary h6 mb-2">
                Progreso Académico
            </div>
            <div class="table-responsive">
                <table class="table table-striped hover">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th class="text-center" scope="col">Asignatura</th>
                            <th class="text-center" scope="col">Créditos</th>
                            <th class="text-center" scope="col">Docente</th>
                            <th class="text-center" scope="col">Método de aprobación</th>
                            <th class="text-center" scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subject of arraySubjectProgress; index as i">
                            <td class="text-center">{{ subject.subject }}</td>
                            <td class="text-center">{{ subject.credits}}</td>
                            <td class="text-center">{{ subject.teacher }}</td>
                            <td class="text-center">{{ subject.approval}}</td>
                            <td class="text-center">{{ subject.state }}</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="editandoPerfil" class="card shadow bg-light mt-2 mb-3">
        <div class="card-header bg-primary text-white h5">
            Edita tu perfil
        </div>
        <div class="card-body">
            <form [formGroup]="profileForm" (ngSubmit)="editar()" class="mt-1 contenedor ">
                <div class="form-group">
                    <label>Cédula</label>
                    <input type="text" class="form-control shadow-sm" formControlName="cedula" [(ngModel)]="cedula"
                        value={{cedula}} readonly>
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control shadow-sm" formControlName="nombre" [(ngModel)]="nombre"
                        value={{nombre}}>
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control shadow-sm" formControlName="apellido" [(ngModel)]="apellido"
                        value={{apellido}}>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-danger shadow-sm mt-2"
                        (click)="habilitarEditarPerfil()">Cancelar</button>
                    <button class="btn btn-success shadow-sm ml-2 mt-2" type="submit"
                        [disabled]="!profileForm.valid">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="cambiandoContrasenia" class="card bg-light shadow mt-2 mb-3">
        <div class="card-header bg-primary text-white h5">Cambiar Contraseña</div>
        <form [formGroup]="passwdForm" (ngSubmit)="cambiarContrasenia()" class="mt-1">
            <div class="card-body">
                <div class="form-group">
                    <label>Actual</label>
                    <input id="passactual" type="password" class="form-control" formControlName="actual"
                        [(ngModel)]="actual" value={{actual}}>
                </div>
                <div class="form-group">
                    <label>Nueva</label>
                    <input id="passnueva" type="password" class="form-control" formControlName="nueva"
                        [(ngModel)]="nueva" value={{nueva}}>
                </div>
                <div class="form-group">
                    <label>Confirmar</label>
                    <input id="passnuevar" type="password" class="form-control" formControlName="confirmar"
                        [(ngModel)]="confirmar" value={{confirmar}}>
                </div>
                <div *ngIf="noCoinciden">
                    <p class="text-danger">Las contraseñas no coinciden</p>
                </div>
                <div *ngIf="actualIncorrecta">
                    <p class="text-danger">La contraseña actual es incorrecta</p>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-danger shadow-sm mr-5 mt-2"
                        (click)="habilitarCambiarContrasenia()">Cancelar</button>
                    <button class="btn btn-success shadow-sm ml-2 mt-2" type="submit"
                        [disabled]="!passwdForm.valid">Confirmar</button>
                </div>
            </div>
        </form>
    </div>
</div>