<div class="jumbotron bg-white">
    <div class="d-flex justify-content-center mt-3 ">
        <div *ngIf="!islogin()" class="w-50">
            <div class="card shadow rounded ">
                <div class="card-header bg-primary text-white">
                    Iniciar sesión
                </div>
                <div class="card-body">
                    <app-login></app-login>

                    <h6 class="text-center">¿No tienes cuenta?</h6>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-link" routerLink="/chat">Ingresar como invitado</a>
                        <a class="btn btn-link" routerLink="/register">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="islogin()">
            <img src="../../../assets/botimg.jpg">
        </div>
    </div>
</div>