<div class="d-flex justify-content-center">
    <div class="card bg-light shadow m-2">
        <div class="card-header bg-primary text-white h5">
            Modificar {{asignatura.nombre}}
        </div>
        <div class="card-body">
            <form [formGroup]="profileForm" (ngSubmit)="editarAsignatura()" class="mt-1">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Código</label>
                        <input formControlName="codigo" type="text" class="form-control shadow-sm"
                            [(ngModel)]="asignaturaEditar.codigo" value={{asignaturaEditar.codigo}} readonly />
                    </div>
                    <div class="form-group col">
                        <label for="inputPassword4">Nombre</label>
                        <input formControlName="nombre" type="text" class="form-control shadow-sm"
                            [(ngModel)]="asignaturaEditar.nombre" value={{asignaturaEditar.nombre}} />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label for="inputEmail4">Creditos</label>
                        <input type="number" formControlName="creditos" class="form-control shadow-sm"
                            [(ngModel)]="asignaturaEditar.creditos" value={{asignaturaEditar.creditos}} />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Metodo de aprobación</label>
                        <select class="form-control custom-select shadow-sm" formControlName="apruebaPor"
                            [(ngModel)]="asignaturaEditar.apruebaPor">
                            <option value="Parciales">Parciales</option>
                            <option value="Laboratorios">Laboratorios</option>
                            <option value="Defensas">Defensas</option>
                            <option value="Obligatorios">Obligatorios</option>
                            <option value="Exámen">Exámen</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Fecha limite de inscripción</label>
                        <input type="date" formControlName="fechaInscripcion" class="mb-2 form-control"
                            [(ngModel)]="fecha" value={{fecha}} required />
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="inputEmail4">Docente</label>
                        <input formControlName="nombreDocente" type="text" class="form-control shadow-sm"
                            [(ngModel)]="asignaturaEditar.nombreDoc" value={{asignaturaEditar.nombreDoc}} />

                    </div>
                    <div class="form-group col">
                        <label for="inputPassword4">Correo</label>
                        <input type="text" formControlName="correoDocente" class="form-control shadow-sm"
                            [(ngModel)]="asignaturaEditar.correoDoc" value={{asignaturaEditar.correoDoc}} />
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-danger shadow-sm" (click)="volver()">Cancelar</button>
                    <button class="btn btn-success shadow-sm" type="submit">
                        Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>