<div class="d-flex justify-content-center">
    <div class="card shadow m-2">
        <div class="card-header bg-primary text-white">
            <h5 class="text-white mt-1">Estadísticas de Usuario</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted mt-2">Cantidad de preguntas por período de tiempo</h6>
            <form [formGroup]="formGroupInterval" (ngSubmit)="filterDateCountQuestions()">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="inputEndDate">Hasta</label>
                            <input type="date" class="form-control" formControlName="dateFinish" [(ngModel)]="endDate"
                                value={{endDate}}>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="inputInitDate">Desde</label>
                            <input type="date" class="form-control" formControlName="dateInit" [(ngModel)]="startDate"
                                value={{startDate}}>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary mb-3 ml-2" type="submit">Filtrar</button>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead class="bg-primary text-white">
                        <tr>
                            <td class="text-center">Periodo</td>
                            <td class="text-center">Mensajes procesados</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of rowArrayConsults; let i = index">
                            <td class="text-center">{{ row.period }}</td>
                            <td class="text-center">{{ row.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h6 class="card-subtitle mb-2 text-muted mt-4">Cantidad de preguntas por Usuario</h6>
            <hr>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead class="bg-primary text-white">
                        <tr>
                            <td class="text-center">Documento</td>
                            <td class="text-center">Usuario</td>
                            <td class="text-center">Cantidad preguntas</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of rowArrayUsers; let i = index">
                            <td class="text-center">{{ row.ci }}</td>
                            <td class="text-center">{{ row.nombre }}</td>
                            <td class="text-center">{{ row.cantQuerys }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>